{% include "ecomerce/partial/head.html" %}

<body>
    <div class="main">

        <div class="head">
            <h1>
                Pontocom_livros
            </h1>
        </div>

        <div class="search-bar">
            <label for="search-bar"></label>
            <input type="text" name="search-bar" placeholder="search-bar">
        </div>

        <div class="center">
            <div class="panel-left">
                <div class="panel-left-card">
                    <div class="text-field">
                        <h3>nome do livro</h3>
                        <p>texto informativo</p>
                        <button class="btn">ver mais</button>
                    </div>
                </div>
            </div>

            <div class="panel-center">
                <div class="panel-center-card">
                    <div class="text-field">
                        <h3>nome do livro</h3>
                        <p>texto informativo</p>
                        <button class="btn">ver mais</button>
                    </div>
                </div>
            </div>

            <div class="panel-right">
                <div class="panel-right-card">
                    <div class="text-field">
                        <h3>nome do livro</h3>
                        <p>texto informativo</p>
                        <button class="btn">ver mais</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>