.main{
    width: 100vw;
    height: 100vh;
}
.head{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: blue;
}

.search-bar{
    display: flex;
    justify-content: center;
}

.search-bar > input{
    width: 40vw;
    margin: 30px 30px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-field{
    height: 20vw;
    width: 20vw;
    margin: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: blue
}

.panel-right{
    height: 100%;
}